###############################################################################
# Use cg-diff to diff CG files
###############################################################################
*.vi diff=cg-diff
*.vim diff=cg-diff
*.vit diff=cg-diff
*.ctt diff=cg-diff
*.ctl diff=cg-diff
