CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
gens
grpc

Builds
build
.vs
.vscode
__pycache__

example_client
liblabview_query_server.so
liblabview_query_client.so
*.pb.cc
*.pb.h
*_pb2.py
*_pb2_grpc.py
*.aliases
*.lvlps
labview source/Servers/Generated Server/
*.dll
*.pdb

*.so
tests/gRPC_ATS/TimeStamp.txt

*.srctrl*