name: Windows x86 build

on:
  workflow_call:
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86
    - uses: ilammy/setup-nasm@v1.5.1

    - name: Install Visual Studio 2022 Build Tools
      run: |
        choco install visualstudio2022-workload-vctools --yes || throw "Installation failed"

    - name: Update Submodules
      working-directory: ${{runner.workspace}}/grpc-labview      
      run: git submodule update --init --recursive
      
    - name: Create Build Environment
      run: mkdir ${{runner.workspace}}\grpc-labview\build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}\grpc-labview\build
      run: cmake -G "Visual Studio 17 2022" -A Win32 ..
      
    - name: Build
      working-directory: ${{runner.workspace}}\grpc-labview\build
      run: cmake --build . --config ${{env.BUILD_TYPE}} -j 16

    - if: ${{ always() }}
      name: Print CMakeTests logs
      run: |
        $directory = "${{runner.workspace}}/grpc-labview/tests/CMakeTests/logs"

        # Check if the folder exists
        if (Test-Path $directory -PathType Container) {
            # Recursively iterate through all files in subfolders
            Get-ChildItem -Path $directory -File -Recurse | Group-Object Directory | ForEach-Object {
                $subfolderName = $_.Name

                Write-Host "Folder: $subfolderName"

                $_.Group | ForEach-Object {
                    $file = $_
                    # Print the content of the file
                    Get-Content $file.FullName

                    Write-Host ""
                }
                Write-Host ""
            }
        } else {
            Write-Host "CMakeTests log folder (grpc-labview/tests/CmakeTests/logs) does not exist."
        }

    - name: Tar Build Artifacts
      run: >-
        tar -czvf labview-grpc-server-windows-x86.tar.gz -C ${{runner.workspace}}\grpc-labview\build\Release
        labview_grpc_server.dll
        labview_grpc_generator.dll
    
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: labview-grpc-server-windows-x86
        path: labview-grpc-server-windows-x86.tar.gz
        retention-days: 5
